In [141]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [142]:
import csv
import pandas as pd
import numpy as np

In [143]:
from sqlalchemy.sql.expression import true
def rate_df():
    df = pd.read_csv(('/content/drive/MyDrive/CSE488_project/u.data'), sep='\t', header=None)
    df.columns = ['user_id', 'movie_id', 'rating', 'timestamp']
    return df

rating_df = rate_df()
rating_df.drop(['timestamp'], inplace=True , axis=1)
rating_df.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

In [144]:
rating_df.shape

(100000, 3)

In [145]:
def item_info_df():
  df = pd.read_csv(('/content/drive/MyDrive/CSE488_project/u.item'), sep='|',encoding="iso-8859-1", header=None)
  df.columns = ['movie_id', 'title', 'release_date', 'video_date', 'imdb_url','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy',
                'Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
  return df

item_df = item_info_df()
item_df.head()

,movie_id,title,release_date,video_date,imdb_url,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [146]:
item_df.drop(['video_date'], inplace=True , axis=1)

In [147]:
item_df.shape

(1682, 23)

In [148]:
def user_info_df():
  df = pd.read_csv(('/content/drive/MyDrive/CSE488_project/u.user'), sep='|', header=None)
  df.columns = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
  return df

user_df = user_info_df()
user_df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [149]:
user_df.shape

(943, 5)

In [150]:
ratings_with_name = rating_df.merge(item_df, on="movie_id")
ratings_with_name.head()

,user_id,movie_id,rating,title,release_date,imdb_url,unknown,Action,Adventure,Animation,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,Kolya (1996),24-Jan-1997,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,63,242,3,Kolya (1996),24-Jan-1997,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,226,242,5,Kolya (1996),24-Jan-1997,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,154,242,3,Kolya (1996),24-Jan-1997,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,306,242,5,Kolya (1996),24-Jan-1997,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# **Pearson (item-item)**

In [151]:
tr = ratings_with_name.pivot_table(index='user_id',columns='title',values='rating')

In [152]:
tr

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [153]:
def avg_calcu2(col):
  df = pd.DataFrame(tr, columns=[col])
  filtered_df = df.dropna()

  # Calculate the average
  average = np.mean(filtered_df[col])
  return average

In [154]:
def avg_calcu1(title):
  df = pd.DataFrame(tr, columns=[title])
  filtered_df = df.dropna()

  # Calculate the average
  average = np.mean(filtered_df[title])
  return average

In [155]:
def pearson(title):
    given_title = tr[title]
    corr_summary = []

    for col in tr.columns:
        if col == title:
            continue
        avg_1 = avg_calcu1(title)
        avg_2 = avg_calcu2(col)

        compare_column = tr[col]
        movie_common_1 = []
        movie_common_2 = []

        for i in range (len(given_title)):
          if pd.notnull(given_title.iloc[i]) and pd.notnull(compare_column.iloc[i]):
            movie_common_1.append((given_title.iloc[i]))
            movie_common_2.append((compare_column.iloc[i]))

        # common_user give me index value

      
        if len(movie_common_1) >= 2:  # Consider movies with at least 2 common users
            
            num = ((movie_common_1 - avg_1) * (movie_common_2 - avg_2)).sum()
            den = np.sqrt(((movie_common_1 - avg_1) ** 2).sum()) * np.sqrt(((movie_common_2 - avg_2) ** 2).sum())
            
            if den != 0:  # Avoid division by zero
                pearson_coeff = num / den
                corr_summary.append((col, pearson_coeff))

    corr_summary.sort(key=lambda x: x[1], reverse=True)
    
    filtered_corr_summary = []
    count = 0

    for col, coeff in corr_summary:
     if len(filtered_corr_summary) == 10:
        break
     filtered_corr_summary.append((col, coeff))
    return filtered_corr_summary

In [156]:
pearson('Contact (1997)')

[('Being Human (1993)', 1.0000000000000002),
 ('Cure, The (1995)', 1.0),
 ('Drunks (1995)', 1.0),
 ('My Favorite Season (1993)', 1.0),
 ('Leading Man, The (1996)', 0.9993999455466264),
 ('Fausto (1993)', 0.9941191458273956),
 ('Perfect Candidate, A (1996)', 0.9941191458273956),
 ('Visitors, The (Visiteurs, Les) (1993)', 0.9812423091754305),
 ('Day the Sun Turned Cold, The (Tianguo niezi) (1994)', 0.9812423091754302),
 ('King of the Hill (1993)', 0.9801337877214599)]

# **USER-USER**

In [157]:
us = ratings_with_name.pivot_table(index='title',columns='user_id',values='rating')

In [158]:
us

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),5.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns II (1990),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
"Young Poisoner's Handbook, The (1995)",NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zeus and Roxanne (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unknown,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Á köldum klaka (Cold Fever) (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
def avg_calcu1(id):
  df = pd.DataFrame(us, columns=[id])
  filtered_df = df.dropna()

  # Calculate the average
  average = np.mean(filtered_df[id])
  return average

In [160]:
def avg_calcu2(col):
  df = pd.DataFrame(us, columns=[col])
  filtered_df = df.dropna()

  # Calculate the average
  average = np.mean(filtered_df[col])
  return average

In [161]:
def user_pearson(id):
    given_user = us[id]
    corr_summary = []

    for col in us.columns:
        if col == id:
            continue
        avg_1 = avg_calcu1(id)
        avg_2 = avg_calcu2(col)

        compare_ratings = us[col]
        user_common_1 = []
        user_compare_common = []

        compare_ratings = us[col]
        for i in range(len(given_user)):
            if pd.notnull(given_user.iloc[i]) and pd.notnull(compare_ratings.iloc[i]):
                user_common_1.append((given_user.iloc[i]))
                user_compare_common.append((compare_ratings.iloc[i]))

        # common_user give me index value
        if len(user_common_1) >= 2:  # Consider movies with at least 2 common users
            num = ((user_common_1 - avg_1) * (user_compare_common - avg_2)).sum()
            den = np.sqrt(((user_common_1 - avg_1) ** 2).sum()) * np.sqrt(((user_compare_common - avg_2) ** 2).sum())
            
            if den != 0:  # Avoid division by zero
                pearson_coeff = num / den
                corr_summary.append((col, pearson_coeff))

    corr_summary.sort(key=lambda x: x[1], reverse=True)

    filtered_corr_summary = []
    count = 0

    for col, coeff in corr_summary:
        if len(filtered_corr_summary) == 1:
            break
        filtered_corr_summary.append((col, coeff))
    
    # Retrieve top 10 movies rated greater than or equal to 3 by the resultant user
    rated_top_movies = []
    for col,coeff in filtered_corr_summary:
        user_ratings = us[col]
        user_top_movies = user_ratings[user_ratings >= 3].index[:10]
        rated_top_movies.extend(user_top_movies)
    
    return rated_top_movies

In [162]:
user_pearson(50)

['12 Angry Men (1957)',
 '2001: A Space Odyssey (1968)',
 'Abyss, The (1989)',
 'Alien (1979)',
 'Apollo 13 (1995)',
 'Back to the Future (1985)',
 'Barbarella (1968)',
 'Batman (1989)',
 'Beauty and the Beast (1991)',
 'Blade Runner (1982)']